[service]
%{ for ip, host in service}
${ip} ansible_host=${host}
%{ endfor ~}

[normal]
%{ for ip, host in region-1}
${ip} ansible_host=${host}
%{ endfor ~}
%{ for ip, host in region-2}
${ip} ansible_host=${host}
%{ endfor ~}
%{ for ip, host in region-3}
${ip} ansible_host=${host}
%{ endfor ~}
%{ for ip, host in region-4}
${ip} ansible_host=${host}
%{ endfor ~}
%{ for ip, host in region-5}
${ip} ansible_host=${host}
%{ endfor ~}
